<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Vinsjansen</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-dollar" aria-hidden="true"></span> Kjøp lodd
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wines">
                <span class="oi oi-plus" aria-hidden="true"></span> Legg til vin
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="draw">
                <span class="oi oi-badge" aria-hidden="true"></span> Trekning
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
